@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');



body {
 
    font-family: "Inter", serif;
    font-weight: 400px;
    font-size: 14px;
    background-color: hsl(0, 0%, 8%) ;
   
   
}

.parent-container {
    
    
    display:flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    /* remember to always increase the width and height
     to the default size of the desktop to center the div at the middle of the browser */
    width:100vw;
    height:100vh;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 8%) ;
    position:fixed;
    
    

    

}

.child-container {
    background-color: hsl(0, 0%, 12%);
    width:300px;
    height: 600px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.mimi-one {
    color:hsl(0, 0%, 100%);
    width:200px;
    height:20px;
    background-color: hsl(0, 0%, 20%);
    margin:7px;
    padding:7px;
    border-radius: 5px;
    text-align: center;
}

.mimi-two {
    color:hsl(0, 0%, 100%);
    width:200px;
    height:20px;
    background-color: hsl(0, 0%, 20%);
    margin:7px;
    padding:7px;
    border-radius: 5px;
    text-align: center;
}

.mimi-three {
    color:hsl(0, 0%, 100%);
    width:200px;
    height:20px;
    background-color: hsl(0, 0%, 20%);
    margin:7px;
    padding:7px;
    border-radius: 5px;
    text-align: center;
}

.mimi-four {
    color:hsl(0, 0%, 100%);
    width:200px;
    height:20px;
    background-color: hsl(0, 0%, 20%);
    margin:7px;
    padding:7px;
    border-radius: 5px;
    text-align: center;
}


.mimi-five {
    color:hsl(0, 0%, 100%);
    width:200px;
    height:20px;
    background-color: hsl(0, 0%, 20%);
    margin:7px;
    padding:7px;
    border-radius:5px;
    text-align: center;
}




@media (max-width: 1440px) {
    .child-container {
        width: 300px;
        height: 600px;
        position:

    
    }
}




@media (max-width: 375px) {

   .child-container{
    width:100%;
    height:auto;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:7px;
    padding-right:7px;
    margin-bottom: 10px;


  
   }
}


